<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.107.19" targetFramework="net452" />
  <package id="AWSSDK.S3" version="3.3.111.20" targetFramework="net452" />
  <package id="DevExpress.Charts" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Data" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Pdf.Drawing" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="20.1.4" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="20.1.4" targetFramework="net452" />
  <package id="DotNetZip" version="1.13.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="PayRunIO.Core.Enums" version="19.20.3.323" targetFramework="net452" />
  <package id="PayRunIO.CSharp.SDK" version="19.20.3.213" targetFramework="net452" />
  <package id="PayRunIO.Models" version="19.20.3.213" targetFramework="net452" />
  <package id="PayRunIO.OAuth1" version="19.20.3.213" targetFramework="net452" />
  <package id="PicoXLSX" version="2.6.4" targetFramework="net452" />
</packages>